<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page of 1 + 2 </h1>
    <h3> <%=  1 + 2 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellendus aliquam impedit. Quaerat soluta accusantium, voluptates repellendus perferendis quis dolores fuga mollitia architecto nostrum ipsum sapiente, voluptatum error distinctio! Veritatis!</p>

    <button>click me!</button>
</body>
</html>